<div class="col-md-3 fa-course" 
    [routerLink]="['/course/', course.$key]">
  <div class="fa-course-container">
    <div class="fa-course-container-thumbnail">
      <img src="../../assets/images/course_thumb_1.jpg" >
    </div>
    <div class="fa-course-container-description">
      <div class="fa-course-container-description-title">
        <h5>{{course.title}}</h5>
      </div>
      <div class="fa-course-container-description-excerpt">
        <p>{{course.excerpt}}</p>
      </div>
      <div class="fa-course-container-description-price">
        <h4>{{course.price}} RSD</h4>
      </div>   
    </div>
  </div>
</div>