<form class="fa-form-login" 
(ngSubmit)="signin()" #signInForm="ngForm">
  <div class="fa-form-login-title">
    <h2>Start learning</h2>
  </div>
  <div class="fa-form-login-data">

    <!-- Back-End response -->
    <div class="fa-form-login-data-field"
    *ngIf="this.authService.err">
      <div class="error-box">
        <p>{{this.authService.err}}</p>
      </div>
    </div>  

    <!-- Email address -->
    <div class="fa-form-login-data-field">
      <label for="email">Email: 
        <span class="error-string" 
        *ngIf="emailRef.errors && emailRef.dirty">
          <i [hidden]="!emailRef.errors.required">
            Email is required.
          </i>
          <i [hidden]="!emailRef.errors.pattern">
            Provide a valid email
          </i>  
        </span>
      </label>
      <input type="text" name="email" id="email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" 
      [(ngModel)]="user.email" #emailRef="ngModel">
    </div>

    <!-- Password -->
    <div class="fa-form-login-data-field">
      <label for="password">Password:
        <span class="error-string" 
        *ngIf="passwordRef.errors && passwordRef.dirty">
          <i [hidden]="!passwordRef.errors.required">
            Password is required.
          </i>
          <i [hidden]="!passwordRef.errors.minlength">
            Minimum length shouldn't be less then 3
          </i>       
          <i [hidden]="!passwordRef.errors.maxlength">
            Maximum length shouldn't be more then 20
          </i>             
        </span>      
      </label>
      <input type="password" name="password" id="password" minlength="4" maxlength="20" required
      [(ngModel)]="user.password" #passwordRef="ngModel">
    </div>

    <!-- Submit button -->
    <div class="fa-form-login-data-field">
      <input type="submit" value="Access" 
      [disabled]="!signInForm.form.valid">
    </div>  

  </div>
</form>
