<div class="col-md-12 alert alert-danger"
  [hidden]="!course?.extras?.locked">
  <h3>Ooops</h3>
  <p>Looks like you are not yet allowed to see the course. To access the course please confirm your subscription to support@fabrika.rs</p>

  <a (click)="back()">Go to dashboard</a>
</div>

<!-- Aside menu with lectures, sections and options -->
<div class="col-md-12 fa-course-overview" 
  [hidden]="course?.extras?.locked">

  <!-- affix -->
  <div class="col-md-4 fa-course-overview-affix">

    <!-- lectures list -->
    <ul class="fa-course-overview-affix-ul-lectures">

      <!-- single lecture -->
      <li class="fa-course-overview-affix-ul-lectures-lecture" 
        *ngFor="let lecture of course?.lectures">
        <i class="fa fa-address-card-o" aria-hidden="true"></i>
        <a>
          {{lecture?.title}}
        </a>

        <!-- sections -->
        <ul class="fa-course-overview-affix-ul-lectures-lecture-sections">

          <!-- single section -->
          <li class="fa-course-overview-affix-ul-lectures-lecture-sections-section" 
            *ngFor="let section of lecture?.sections"
            (click)="show(section)">
            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
            <a>{{section.title}}</a>
          </li> <!-- single section ends -->

          <!-- admin options for section -->
          <li class="fa-course-overview-affix-ul-lectures-lecture-sections-section"
            *ngIf="currentUser?.role === 'admin'">
              <i class="fa fa-plus" aria-hidden="true"
                (click)="displayFormSection(lecture?.$key)"> New </i>
          </li>
        </ul>
      </li> <!-- single lecture ends -->

      <!-- admin options -->
      <li class="fa-course-overview-affix-preview-item"
        *ngIf="currentUser?.role === 'admin'">
          <i class="fa fa-plus" aria-hidden="true"
            (click)="displayFormLecture(course?.$key)"> New Lecture </i>  
      </li>
    </ul>
  </div>
  <!-- content -->
  <div class="col-md-8 fa-course-overview-content">

    <!-- A Playr -->
    <div *ngIf="sectionActive" class="fa-course-overview-content-player">
      <iframe class="e2e-iframe-trusted-src" width="640" height="390" border="0" [src]="videoUrl"></iframe>
      <h2>{{sectionActive?.title}}</h2>

      <!-- comments per section -->
      <div class="col-md-12 comment">
        <fa-form-comment 
          [courseKey]="course?.$key"
          [sectionKey]="sectionActive?.$key"
          [username]="currentUser?.username">
        </fa-form-comment>
      </div>
    </div>

    <!-- Welcome screen -->
    <div *ngIf="!sectionActive && sectionActive !== null" class="fa-course-overview-content-wellcome">
      <h1>{{course?.title}}</h1>
      <h2>{{course?.excerpt}}</h2>
      <button class="fa-course-overview-content-wellcome-btn-start">
        CONTINUE 
      </button>
    </div>
  
  </div>
</div>