<form class="fa-form-register" 
(ngSubmit)="signup()" #signUpForm="ngForm">
  <div class="fa-form-register-title">
    <h2>Create an account</h2>
  </div>
  <div class="fa-form-register-data">

    <!-- Back-End response -->
    <div class="fa-form-register-data-field"
    *ngIf="this.authService.err">
      <div class="error-box">
        <p>{{this.authService.err}}</p>
      </div>
    </div>  

    <!-- Email address -->
    <div class="fa-form-register-data-field">
      <label for="email">Email: 
        <span class="error-string" 
        *ngIf="emailRef.errors && emailRef.dirty">
          <i [hidden]="!emailRef.errors.required">
            Email is required.
          </i>
          <i [hidden]="!emailRef.errors.pattern">
            Provide a valid email
          </i>  
        </span>
      </label>
      <input type="text" name="email" id="email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" 
      [(ngModel)]="user.email" #emailRef="ngModel">
    </div>

    <!-- Password -->
    <div class="fa-form-register-data-field">
      <label for="password">Password:
        <span class="error-string" 
        *ngIf="passwordRef.errors && passwordRef.dirty">
          <i [hidden]="!passwordRef.errors.required">
            Password is required.
          </i>           
        </span>      
      </label>
      <input type="password" name="password" id="password" required
      [(ngModel)]="user.password" #passwordRef="ngModel">
    </div>

    <!-- Submit button -->
    <div class="fa-form-register-data-field">
      <input type="submit" value="Create" 
      [disabled]="!signUpForm.form.valid">
    </div>  

  </div>
</form>
