<div class="col-md-12"
  [hidden]="currentUser?.role === 'admin'">
  <h1>Hello there!</h1>
  <h3>Welcome to your dashboard where you can access to all of the courses you bought.</h3>

  <fa-course-card 
    *ngFor="let course of courses | async" 
    [course]="course"
    [isDashboard]="true"
    [routeContext]="'overview'">
  </fa-course-card>
</div>

<div class="col-md-12"
  [hidden]="currentUser?.role === 'user'">
  <ul>
    <li *ngFor="let course of courses | async">
      {{course?.title}}
      <ul>
        <li>user mixi wants to access your course  -  approve/decline</li>
      </ul>
    </li>
  </ul>

</div>

