<div class="col-md-12 fa-course-overview">
  <div class="col-md-4 fa-course-overview-affix">
  
  <h3>Add Lecture</h3>
    <div class="form">
      <form
            (ngSubmit)="createLecture()" #addLectureForm="ngForm">

        <div class="form-group">
          <label for="title"></label>
          <input type="text" id="title" name="title" [(ngModel)]="lectureTitle" #LecTitleRef="ngModel">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!addLectureForm.form.valid">
            Add new lecture!
          </button>    
        </div>
      </form>

      <ul class="list">
        <li *ngFor="let lecture of course?.lectures">
          12{{lecture?.title}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-8 fa-course-overview-content">
    <div *ngIf="section" class="fa-course-overview-content-player">
      <h2>{{section?.title}}</h2>
      <iframe class="e2e-iframe-trusted-src" width="640" height="390" border="0" [src]="videoUrl"></iframe>
    </div>
    <div *ngIf="!section" class="fa-course-overview-content-wellcome">
      <h1>{{course?.title}}</h1>
      <h2>{{course?.excerpt}}</h2>
      <button class="fa-course-overview-content-wellcome-btn-start">
        CONTINUE 
      </button>
    </div>
  </div>
</div>