.fa-course-overview {
  &-affix {

    &-preview {

      &-item {
        cursor: pointer;
        background: #eaeaea;
        margin-left: 0;
        padding: 10px 10px;
        border-radius: 4px;
        font-weight: bold;
        border-bottom: 1px solid white;


        &-sections {
          padding-left: 20px;
          font-weight: normal;

          &-item {
            padding: 0px 0px 3px 0px;

            &:hover {
              color: black;
            }
          }
        }
      }
    }

  }

  &-content {
    &-player {

    }

    &-wellcome {
      text-align: center;

      &-btn-start {
        background: #36ab19;
        border: none;
        padding: 15px 25px;
        color: white;
      }
    }
  }
}