<div class="col-md-3 fa-course" 
  (click)="goToContext()" 
  *ngIf="course">
  <div class="fa-course-container"
    [ngClass]="(isDashboard && course?.extras?.locked === true) ? 'course-close' : 'course-open'">
    <div 
      [hidden]="isDashboard && course?.extras?.locked === false"
      [ngClass]="(isDashboard && course?.extras?.locked === true) ? 'fa-course-container-overlay-locked' : null"
      >
    </div>
    <div class="fa-course-container-thumbnail">
      <img [src]="course?.thumbnail" >
    </div>
    <div class="fa-course-container-description">
      <div class="fa-course-container-description-title">
        <h5>{{course?.title}}</h5>
      </div>
      <div class="fa-course-container-description-excerpt">
        <p>{{course?.excerpt}}</p>
      </div>
      <div class="fa-course-container-description-price">
        <h4>{{course?.price}} RSD</h4>
      </div>   
    </div>
  </div>
</div>